body {
    font-family: Monospace;
}

section {
    text-align: center;
    border-top: 1px solid #CCC;
    margin-top: 20px;
}

.controls input {
    top: 6px;
    position: relative;
}

#circles-on-horizontal-lines {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.moire__horizontal {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 400px;
    background: repeating-linear-gradient(
        0deg,
        rgba(136, 136, 136, 0.3),
        rgba(136, 136, 136, 0.3) 3px,
        #444 0px,
        #444 4px
    );
}

.controls {
    text-align: center;
}

#circles-on-circles {
    height: 400px;
    width: 400px;
    position: relative;
    margin: 0 auto;
}

#circles-on-circles .first-set {
    height: 100%;
}

#circles-on-circles .second-set {
    height: 400px;
    width: 400px;
    position: relative;
    top: -100%;
}