---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import Image404 from "@/assets/404-lost-in-space.svg";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oops something went wrong</h1>
	<p class="mb-8">Please use the navigation to find your way back</p>
	<div class="my-4 grid justify-center">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
			src={Image404}
		/>
		<p class="text-center text-xs opacity-30">
			<a
				href="https://www.freepik.com/free-vector/404-error-lost-space-concept-illustration_20824296.htm#query=404%20error%20illustration&position=28&from_view=keyword&track=ais_hybrid&uuid=19bf0aad-f670-4bfb-babd-faca3ce8f93a"
				>Image by storyset</a
			> on Freepik
		</p>
	</div>
</PageLayout>
