---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "These are the random thoughts of Debjit Biswas",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Welcome to my corner of the internet, where I occasionally share my thoughts and experiences.
			I don't post frequently, but when something interesting or thought-provoking comes to mind,
			this is where I like to put it down.
		</p>
		<p>
			I’ve been working as a software developer for 15 years, gradually moving through different
			roles. I started out as a Frontend developer, which I still really enjoy, but over time, I’ve
			had the chance to work with other technologies as well. I’m particularly interested in things
			like code design, software reliability, project management, and product development.
		</p>
		<p>
			I was fortunate to have access to a computer when I was young, which wasn’t very common in
			India at the time. My brother, a software and electronics engineer, and my father, an
			electrical engineer, both inspired me to explore technology. Unlike them, though, I found
			software to be more intuitive and easier to work with. I’ve always had a passion for math and
			science, and many of my early programming projects were related to those interests.
		</p>
		<p>
			In addition to my professional work, I’m the creator and maintainer of
			<a class="text-accent underline-offset-2 hover:underline" href="https://sim8085.com"
				>Sim8085</a
			>, an 8085 simulator. One of my long-term goals is to develop a <a
				class="text-accent underline-offset-2 hover:underline"
				href="https://github.com/debjitbis08/frdp">UI framework</a
			> that reflects my personal approach to building software.
		</p>
		<p>
			Here, I’ll continue to share my learnings and reflections from the years I’ve spent in the
			industry. Feel free to explore and thanks for stopping by!
		</p>
	</div>
</PageLayout>
