html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#fireworks-container {
    background: #111116;
    height: 100%;
    position: relative;
}

.particle {
    position: absolute;
}

.blast-radius {
    border: 1px solid #FFF;
    position: absolute;
}

#credits {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    opacity: 0.5;
    font-family: sans-serif;
    font-size: small;
}

#credits a:visited {
    color: #FFF;
}

#how {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFF;
    opacity: 0.3;
    font-family: sans-serif;
    font-size: larger;
}

#how .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

    text-align: center;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 20px;
}
